<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

</head>
<body>
  <h1>Hi, <%= user.username %></h1>
  <p>
    Pikaboo, we have news comme and check them !
    <br>
  </p>
  <p>
    Check it on our site: <%= @url = 'http://localhost:3000/users/sign_in' %>.
  </p>
  <p>Have a great day!</p>
</body>
</html>
